// C O L O R S
// $white
$primaryColor: #000;


// F O N T S
%CircularStdBold {
    font-family: "Circular Std";
    font-weight: bold;
}

%CircularStdBlack {
    font-family: "Circular Std";
    font-weight: 700;
}

%CircularStdNormal {
    font-family: "Circular Std";
    font-weight: normal;
}